/* CSS for the navbar */
nav {
    display: flex;
    flex-direction: row;
    background-color: grey; /* Background color of the navbar */
    color: white; /* Text color */
    padding: 10px; /* Padding for the navbar */
    height: 50px;
    align-items: center;
}

.logo img {
    max-width: 50px; /* Adjust the maximum width of your logo as needed */
    height: auto; /* Maintain the aspect ratio of the logo */
}

#navbarContent {
    display: flex;
    flex-direction: row;
}

#navbarContent ul {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}

.nav-item {
    margin: 10px;
}

.search {
    margin-top: 25px;
    margin-right: 0;
}

/* CSS for the profile component */
.profile {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
}

.profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.username {
    font-weight: bold;
}

/* CSS for the dropdown menu */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 0;
}

.dropdown-menu li {
    padding: 10px;
}

.profile:hover .dropdown-menu {
    display: block;
}

.container {
    margin: 10px;
    padding: 20px;
}

/* CSS for the info container */
.info {
    background: skyblue;
    margin-top: 20px;
    padding: 30px;
    text-align: center;
}

.rec-vid {
    background: greenyellow;
    height: 300px;
}

.rec-vid iframe {
    margin: 0px 20px;
}
.rec-mentor {
    background: peru;
    height: 250px;
}
.resources {
    background: goldenrod;
    height: 250px;
}

footer {
    background: grey;
    padding: 20px;
    margin-top: 10px;
    text-align: center;
}

