<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/public/css/header.css">
    <link rel="stylesheet" href="/public/css/side-baar.css">


</head>

<body>
    <div class = "main-container">
        <header>
            <div class="left-header">
                <div>LOGO</div>
            </div>
            <div class="middle-header">
                <div class = "nave-baar-links">
                    <a href="#">Home</a>
                    <a href="#">About Us</a>
                    <a href="#">Study Materials</a>
                    <a href="#"> Mentorship Program</a>
                    <a href="#">Skill Progress Tracking</a>
                    <a href="#">inancial Resources</a>
                </div>
            
            </div>
            <div class="right-header">
                <div><i class="fa-solid fa-user" style="color: #146aff;"></i></div>
            </div>


        </header>

        <div class = "side-baar">
            side baar
        </div>

        <div class="student-banner-images">
            student-banner-images
        </div>
    </div>

    
</body>
</html>