.books .book-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    padding: 20px;
    width: 80%;
    margin-left: 8%;
    background: #f2f2f2;
    box-shadow: 5px 5px 5px #888888;
}

.books .book-content p {
    margin: 0px 5px;
    width: 90%;
    text-align: center;
    font-size: 15px;
}

.books .book-content img {
    width: 50%;
    height: 50%;
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.books .book-content button {
    padding: 10px;
    background: green;
    color: white;
    width: 120%;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}