@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

* {
  padding: 0px;
  margin: 0px;
}
body {
  padding-left: 220px;
}

header {
  font-family: "Roboto Flex", sans-serif;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 80;
  display: flex;
  border-bottom: 0.3px solid rgb(205, 205, 205);
  height: 55px;
  flex-direction: row;
  justify-content: space-between;
  background: transparent;
}

.blur {
  position: absolute;
  background: rgb(215, 175, 241);
  width: 22rem;
  height: 14rem;
  border-radius: 50%;
  filter: blur(60px);
  z-index: -9;
  top: 18%;
  right: 0;
}

/* header Background */

header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;

  background-image: linear-gradient(to right, #f4c430, white, green);
=======
  background-image: linear-gradient(to right, #f5a320, white, green);
  filter: blur(8px);

  z-index: -1;
}

.left-header {
  background: transparent;
  width: 200px;
  display: flex;
  align-items: center;
  padding: 10px;
  font-weight: 700;
}
.middle-header {

    flex-direction: row;
    display : flex;
    align-items: center;
    font-weight: 900;
    justify-content: space-around;
    flex: 1;
    border-right: 0.4px solid rgb(215, 215, 215);
 

  /* background-color:aquamarine; */
  flex-direction: row;
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: 900;
  gap: 5rem;
  justify-content: center;
  flex: 1;
  border-right: 0.4px solid rgb(215, 215, 215);
}

.middle-header a {
  position: relative;
  text-decoration: none;
  color: rgb(60, 60, 60);
  font-size: 15px;
  padding: 5px 10px;
  transition: all 0.4s ease-in-out;
}

.middle-header a:hover {
  color: #ff8352;
  font-weight: 900;
}


.right-header {
    width : 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
}
.user-name-icon {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 55px;
}    
/* Underline Effext */

.middle-header a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -12px;
  width: 100%;
  height: 3.5px;
  background-color: rgb(60, 230, 60);
  border-radius: 2px;
  scale: 0 1;
  transition: scale 0.8s;
}

.middle-header a:hover::before {
  scale: 1;
  transform-origin: center;
}

/* Right side */

.right-header {
  /* background-color: bisque; */
  width: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.user-name-icon {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 55px;
}

.user-name-icon img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
}
#down-arrow-btn {
  padding: 8px;
  cursor: pointer;
}

#profile-dropdown-container {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 170px;
  background: white;
  border-top: 2px solid gray;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  box-shadow: 0 6px 10px rgb(184, 184, 184);
}

#profile-dropdown-container ul li {
  list-style: none;
  padding: 15px;
  cursor: pointer;
}

#profile-dropdown-container ul li:hover {
  background: rgb(224, 224, 224);
  opacity: 0.9;
}

.fa-user,
.fa-arrow-right-from-bracket {
  margin-right: 20px;
}