
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}


body {
    padding-left: 220px;
  
}

* {
    padding: 0px;
    margin: 0px;
}
header {
    font-family: 'Roboto Flex', sans-serif;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 80;
    display: flex;
    border-bottom: 0.3px solid rgb(205, 205, 205);
    height: 55px;
    flex-direction: row;
    justify-content: space-between;
    background: white;;
}
.left-header {
    background-color: aqua;
    width : 200px;
    display: flex;
    align-items: center;
    padding: 10px;
    font-weight: 700;
}
.middle-header {
    /* background-color:aquamarine; */
    flex-direction: row;
    display : flex;
    align-items: center;
    font-weight: 900;
    justify-content: space-around;
    flex: 1;
    border-right: 0.4px solid rgb(215, 215, 215);
 

}
.middle-header a {
    text-decoration: none;
    color : rgb(60, 60, 60);
    font-size: 15px;

}

.middle-header a:hover{
    color: rgb(255, 255, 255);
    background-color:rgb(0, 0, 0);
    padding: 5px 10px;
    border-radius: 10px;
}

.right-header {
    /* background-color: bisque; */
    width : 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
}
.user-name-icon 
{
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 55px;
    
}


.user-name-icon img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
}
#down-arrow-btn {
    padding: 8px;
    cursor: pointer;
}

#profile-dropdown-container {
    display: none;
    position: absolute;
    top: 100%;;
    left: 0;
    width: 170px;
    background: white;
    border-top: 2px solid gray;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    box-shadow: 0 6px 10px rgb(184, 184, 184);
}

#profile-dropdown-container ul li{
    list-style: none;
    padding: 15px;
    cursor: pointer;
}

#profile-dropdown-container ul li:hover {
    background: rgb(224, 224, 224);
    opacity: 0.9;
}


.fa-user,
.fa-arrow-right-from-bracket{
    margin-right: 20px;
}