#profile-page {
    display: none;
    position: fixed;
    top: 55px;
    right: 0;
    left: 220px;
    padding: 20px;
    z-index: 60;
    background: white;
    padding-bottom: 189px;;

}

.profile-content-container{
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-left: 70px;
    background: white;
    padding-top: 70px;
    padding-bottom: 70px;
    border-radius: 10px;
    border: 0.3px solid rgb(201, 201, 201);
    margin-top: -23px;;
    box-shadow: 0 6px 10px rgb(184, 184, 184);
}

.profile-picture-and-name{
    background: white;
    width: 250px;
    height: 230px;
    border-radius: 6px;;
    box-shadow: 0 6px 10px rgb(184, 184, 184);
 
    
}
.profile-image-section{
    display: flex;;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid gray;
    margin-bottom: 5px;;
}
.image-container{
    padding-top: 15px;;
}

.student-id-section{
    padding-left: 5px;;
}
.student-id-section span {
    padding: 8px;;
}
.id-value-container,
.class-value-container{
    display: flex;
    flex-direction: row;
}
#student-id,
#student-class{
    display: flex;
    flex: 1
}
#id-value,
#class-value {
    display: flex;
    flex: 1

}
.student-details {
   
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 6px;
    border: 0.3px solid rgb(201, 201, 201);
    box-shadow: 0 6px 10px rgb(184, 184, 184);
}
.upper-section{
    background: white;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    border-radius: 6px;


}
.upper-section h2 {
    text-align: center;
   

}
.upper-section div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 8px;
    border-bottom: 0.5px solid gray;
    border-top: 0.5px solid gray;
}
.down-section{
    background: lightpink;

}

#student-profile-image {
    background: gray;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 3px;
    width : 95px;
    height: 95px;
    border-radius: 50px;

}
#profile-image {
    width : 90px;
    height: 90px;
    border-radius: 50px;;
}
#profile-back-btn {
    padding: 6px 8px 6px 8px;
    margin-bottom: -20px;
    cursor: pointer;
}