* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.side-baar {
  background: #042331;
  position: fixed;
  top: 55px;
  left: 0;
  bottom: 0;
  width: 220px;
  height: 100%;
}

.side-baar ul a {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white;
  padding-left: 10px;
  box-sizing: border-box;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid black;
  transition: 0.3s;
}

.side-baar ul li:hover a {
  padding-left: 22px;
}

.side-baar ul a i {
  margin-right: 10px;
}
