* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(22 24 29);
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

.web-name {
    font-size: 1.5rem;
    margin-left: 15px;
    color: crimson;
    font-weight: bold;
    align-items: center;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
}

li {
    margin: 0 15px;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: crimson;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
    position: relative;
}

.profile .profile-btn {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile .profile-btn .logout-btn {
    background-color: red;
    color: #fff;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 10px;
    cursor: pointer;
}

.profile:hover .profile-btn {
    display: block;
}
