.mentor-div {
    background: #f5f5f5;
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mentor-div .heading {
    background: #fff;
    text-align: center;
    border-bottom: 1px solid black;
    width: 100%;
}

.mentor-div .heading h1 {
    font-size: 3rem;
    font-weight: 700;
    color: crimson;
    padding: 5px 0;
}

.mentor-div .heading p {
    font-size: 17px;
    padding: 10px 0;
    font-weight: 500;
}

.mentor-div .mentor-info {
    display: flex;
    flex-direction: row;
    height: 100%;
    gap: 40px;
    padding: 25px;
   
}

.mentor-div .mentor-info .mentor {
    background: white;
    width: 370px;
    text-align: center;
    border-radius: 10px;;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;

}


.mentor-div .mentor-info .mentor img {
    width: 320px;
    height: 400px;
    border-radius: 10px;;
    margin-bottom: 5px;;

}

.mentor-div .mentor-info .mentor h3{
    font-size: 20px;
    font-weight: 700;
}

.mentor-div .mentor-info .mentor p{
    font-size: 15px;
    font-weight: 500;
    padding: 10px 0;
}